.heading {
    font-size: var(--s28);
    font-weight: 700;
}
.articlesCompany {
    margin-top: 2.5rem;
}
.titleDocs {
    font-size: var(--s20);
    font-weight: 500;

    margin-bottom: .833rem;
}
.descText {
    font-size: var(--s16);
}
.separator {
    width: 100%;
    border: 1px solid var(--border-gray);

    margin: 1.66rem 0;
}

.docsElemContainer {
    padding: .833rem;
    border-radius: 1rem;
    box-shadow: 0px 0px .166rem 0px rgba(0, 0, 0, 0.05),0px .166rem .333rem 0px rgba(0, 0, 0, 0.02);
    background-color: rgb(253, 253, 253);
}
.documents {
    margin-top: .833rem;

    display: flex;
    flex-direction: column;
    gap: .333rem;
}
.fileElem {
    padding: 0.5rem;

    display: flex;
    align-items: center;
}
.nameFile {
    display: flex;
}
.fileIcon {
    width: .666rem;
    height: .666rem;

    margin-right: .4rem;
}
.fileTitle {
    font-size: var(--s16);
}
.download {
    font-size: var(--s16);
    color: #3083FF;
    text-decoration: underline;
    margin-left: auto;
}


@media (orientation: portrait){
    .heading {
        font-size: var(--s20);
        font-weight: 500;
    }
    .articlesCompany {
        margin-top: 0;
    }
    .titleDocs {
        font-size: var(--s16);
        font-weight: 600;
        color: var(--light-black);
    }
    .descText {
        font-size: var(--s14);
        font-weight: 500;
        color: var(--light-black);
    }
    .separator {
        margin: .833rem 0;
    }
    .docsElemContainer {
        padding: .666rem;
        border-radius: .666rem;
    }
    .documents {
        gap: .666rem;
    }
    .fileElem {
        padding: .666rem;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05),0px 4px 8px 0px rgba(0, 0, 0, 0.02);
        border-radius: .33rem;
    }
    .fileIcon {
        margin-right: .33rem;
    }
    .fileTitle {
        font-size: var(--s14);
        font-weight: 600;
    }
    .download {
        font-size: var(--s14);
        margin-left: 0;
        margin-top: 1.66rem;
        align-self: flex-end;
    }
}