version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    volumes: []
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

