:root {
    --white: #FFFFFF;
    --black: #111111;
    --gray: #424242;
    --light-gray: #F2F2F2;
    --dark-blue: #314A6D;
    --border-gray: #F4F4F4;
    --text-gray: #363636;
    --background-gray: #F2F2F2;
    --light-blue: #3083FF;
    --light-black: #363636;
}