.container {
    display: flex;
    flex-direction: column;
    gap: .833rem;

    padding: .833rem .666rem;
}
.containerNews {
    gap: .833rem;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .33rem;
}
.header p {
    font-size: var(--s24);
    font-weight: 600;
    color: #2AABEE;
}
.header img {
    width: var(--s24);
    height: var(--s24);
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: var(--s14);
    letter-spacing: 0%;

    margin-top: .5rem;
}
.photoContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: .33rem;
}
.photoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newsElem {
    border-radius: .66rem;
    background-color: #F8F8F8;
    padding: .33rem;
    padding-bottom: .66rem;
}


@media (orientation: portrait){
    .containerNews {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        flex-direction: row;
        gap: .533rem;
    }
    .header {
        justify-content: flex-start;
    }
    .header p {
        font-size: var(--s20);
    }
    .header img {
        width: var(--s20);
        height: var(--s20);
    }
    .newsElem {
        padding: .66rem;
        width: 8.33rem;
        flex-shrink: 0;
    }
}