.carousel {
    position: relative;
    width: 100%;
    height: 14.66rem;

    overflow: hidden;

    border-radius: 1.25rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  display: flex;
}
.arrow img {
  height: 1.04rem;
  width: auto;
}
.arrowLeft {
  left: 0.8rem;
}
.arrowRight {
  right: 0.8rem;
}
.arrowRight img {
  transform: rotateY(180deg);
}

.processBar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;

  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
.circle {
  width: 0.41rem;
  height: 0.41rem;

  border-radius: 50%;
  background-color: var(--white);
  transition: background-color 0.4s ease;
}
.currentCircle {
  background-color: var(--black);
}


.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.backgroundImage {
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0.625rem;
  left: 0.79rem;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 17rem;
  color: var(--white);
}

.headline {
  font-size: var(--s20);
  font-weight: 700;
}