.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.875rem;
    column-gap: 0;

    width: 100%;
    align-items: stretch;
    justify-items: center;

}

.elem {
    text-align: center;
    position: relative;

    width: 7.29rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.elem a {
    font-size: var(--s16);
    font-weight: 700;
}

.arrow {
    position: absolute;
    width: 1.16rem;
    height: 1.16rem;
}

.leftTopArrow {
    top: 0;
    left: 0;

    border-left: 0.2rem solid var(--black);
    border-top: 0.2rem solid var(--black);
}
.rightBottomArrow {
    bottom: 0;
    right: 0;

    border-right: 0.2rem solid var(--black);
    border-bottom: 0.2rem solid var(--black);
}

.leftBottomArrow {
    bottom: 0;
    left: 0;

    border-left: 0.2rem solid var(--black);
    border-bottom: 0.2rem solid var(--black);
}
.rightTopArrow {
    top: 0;
    right: 0;

    border-right: 0.2rem solid var(--black);
    border-top: 0.2rem solid var(--black);
}


.horisontalLine {
    width: 2.9rem;
    border-bottom: 0.2rem solid var(--black);

    position: absolute;
    bottom: 0;
}