.container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.3rem;
    padding-top: 2rem;
}
.buttonImg {
    display: contents;
}
.container span,
.container button {
    font-size: var(--s20);
    font-weight: 400;
    color: #A8A8A8;
    width: 1.5rem;
    height: 1.5rem;

    border-bottom: 1px solid transparent;

    transition: color 0.3s ease, border-color 0.3s ease;
}
.container .buttonPageActive {
    color: #314A6D;
    border-color: #314A6D;
}

.container button:hover {
    color: #314A6D;
}

@media (orientation: portrait){
    .container {
        gap: 0;
        justify-content: space-between;
    }
    .container span,
    .container button {
        font-size: var(--s14);
    }
}