.headerPage {
    font-size: var(--s28);
    font-weight: 700;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 2.5rem;
    column-gap: .833rem;
}
.bigElem {
    grid-column: 1 / -1; 
    width: 100%;
}
.imgContainer {
    width: 100%;
    border-radius: 0.33rem;
    overflow: hidden;
    aspect-ratio: 680 / 450;
    position: relative;
}
.imgContainer :global(img) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}


@media (orientation: portrait){
    .headerPage {
        font-size: var(--s20);
        font-weight: 500;
    }
    .galleryContainer {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
}