.header {
    background-color: var(--dark-blue);
    padding: 1.66rem 0.66rem 2.66rem 0.66rem;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 13.66rem;
    position: sticky;
    top: 0;
    
    overflow-y: visible;
}



.header * {
    color: var(--white);
}

.comInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.833rem;
}
.logo {
    width: 5rem;
}
.name {
    font-weight: 700;
    font-size: var(--s16);
    text-align: center;
}



.nav {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.33rem;

    flex-grow: 1;
}
.navLinkContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 0.5rem 1.33rem;
    width: 100%;

    border-radius: 0.33rem;

    transition: background-color 120ms ease-out;
}

.navLinkContainerActive {
    background-color: var(--white);
}
.navLinkContainerActive p{
    color: var(--black);
}
.navLinkContainerActive .navImage {
    filter: brightness(0.18);
}
.nav .navLinkContainerActive:hover {
    background-color: var(--white);
}

.navLinkContainer:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.navLinkContainer .navImage {
    width: 0.833rem;
    height: 0.833rem;
}
.navLinkContainer p {
    font-size: var(--s18);
    font-weight: 500;
}

.socNetwork {
    margin-top: auto;
    padding: 2rem 0.66rem 0 0.66rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    flex-shrink: 0;
}
.imageNetwork {
    width: 2rem;
}
.containerOpen {
    display: none;
}
.hamburgerBut {
    display: none;
}
.mobileNav {
    display: none;
}


@media (orientation: portrait) {
    .open {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        overflow-y: auto;
        max-height: 500vh;
        height: 100vh;
    }
    .header {
        min-height: auto;
        width: 100%;
        padding: 0.55rem .833rem;
    }
    .mobileNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buttonHam {
        position: relative;
        width: 1.1rem;
        height: 1.1rem;
    }
    .hamburgerBut {
        display: block;
        cursor: pointer;
        width: 1.1rem;
        height: 1.1rem;
        transition: opacity .6s ease;

        position: absolute;
        top: 0;
        left: 0;
    }
    .hamburgerBut.close {
        opacity: 0;
    }
    .hamburgerBut.open {
        opacity: 1;
    }
    .pageName {
        font-size: var(--s18);
        font-weight: 700;
    }

    .container {
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: 20;
      
        display: flex;
        flex-direction: column;
        padding: 1rem .66rem;
        padding-bottom: 5rem;

        overflow-y: auto;
    }

    .containerOpen {
        opacity: 1;
        pointer-events: auto;
    }
    .nav {
        gap: .5rem;
    }

    .name {
        font-size: var(--s16);
        padding: 0 .5rem;
    }
    .navLinkContainer p {
        font-size: var(--s16);
    }
    .socNetwork {
        display: none;
    }
}