.container {
    padding: 2.5rem 11rem .33rem 11rem;

    background: rgb(28, 51, 83);

    color: var(--white);
}
.mainContent {
    display: flex;
    justify-content: center;
    gap: 7.5rem;

    padding-bottom: 3.33rem;
}
.mainContent p {
    color: white;
}
.block {
    max-width: 33%;
}
.title {
    font-size: var(--s20);
    font-weight: 600;

    margin-bottom: 1.29rem;
}
.content {
    font-size: var(--s18);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 1.58rem;

    color: #CDCDCD;
}
.content a {
    color: #CDCDCD;
}
.content p {
    color: #CDCDCD;
}

.addressBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.logoContainer {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;

    margin-top: auto;
}
.logoContainer p {
    max-width: 12rem;
    text-align: center;
}
.logo {
    width: 5rem;
    height: 5rem;
    margin-bottom: .833rem;
}

.socBlock {
    display: flex;
    flex-direction: column;
}
.socBlock .content{
    align-items: right;
    text-align: right;

    height: 100%;
}
.socBlock .title {
    text-align: right;
}
.networksWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    flex-grow: 1;
}
.networkElem .imageNetwork{
    width: 1rem;
    height: 1rem;

    margin-right: .41rem;
}
.networkElem p {
    text-decoration: underline;
}
.networkElem {
    display: flex;
}
.localeSwitch {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.navBlock .content {
    align-items: left;
    text-align: left;
}
.navBlock .title {
    text-align: left;
}

.conf {
    font-size: var(--s12);
    color: #828282;
    text-align: center;
}
.contacts a{
    display: block;
    color: #CDCDCD;
    font-size: var(--s18);
    margin-top: 1rem;
}


@media (orientation: portrait) {
    .mainContent {
        flex-direction: column;
        align-items: center;
        text-align: center;

        gap: 3.2rem;
    }
    .container {
        padding: 1.66rem 0;
    }
    .block {
        max-width: 100%;
        text-align: center;
    }
    .navBlock .content {
        align-items: center;
        text-align: center;
    }
    .navBlock .title {
        text-align: center;
    }
    .content {
        gap: 1.75rem;
    }
    .addressBlock {
        gap: 3.2rem;
    }
    .logoContainer {
        margin-top: 1.45rem;
    }
}