.containerImg {
    overflow: hidden;
    border-radius: .33rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerText {
    margin: .833rem 0 2.5rem 0;
}
.title {
    font-size: var(--s20);
    font-weight: 700;

    margin-bottom: .5rem;
}
.description {
    font-size: var(--s16);

    margin-bottom: 1.33rem;
}

.candidateList {
    display: flex;
    flex-direction: column;
    gap: 1.33rem;
}

.candidateContainer {
    border-radius: 1rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05),0px 4px 8px 0px rgba(0, 0, 0, 0.02);

    padding: .833rem;
}
.candidateElem {
    border: 1px solid rgb(242, 242, 242);
    border-radius: .33rem;

    padding: .5rem;

    display: flex;
    gap: .66rem;
    align-items: stretch;
}
.candidateElem .containerImg {
    width: 37.5%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}
.candidateElem .description {
    font-size: var(--s14);
    font-weight: 400;
    margin-bottom: .5rem;
}
.candidateElem button {
    width: 100%;
    padding: .5rem .66rem;
    margin-top: auto;
    border-radius: .33rem;

    font-size: var(--s14);
    color: white;
    
    background: rgb(49, 74, 109);
}
.candidateMainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}
button.active {
    background-color: #474f57;
}




@media (orientation: portrait){
    .candidateContainer {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }
    .candidateElem {
        flex-direction: column;
    }
    .candidateElem .containerImg {
        width: 100%;
    }
}