.container {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  position: relative;
  padding: 1.2rem 1rem;
}

.scroll {
  display: flex;
  gap: 4rem;
  pointer-events: none;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  
  will-change: scroll-position;
}

.item {
  width: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  flex-shrink: 1;
}

.item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}


@media (max-width: 1000px) {
  .item {
    width: 7rem;
    flex-shrink: 0; 
  }
  .scroll {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .item {
    width: 6rem;
  }
  .scroll {
    gap: 2rem;
  }
}
