.header {
    font-size: var(--s28);
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 2.5rem;
    column-gap: .833rem;
}

.bigElem {
    grid-column: 1 / -1; 
    width: 100%;
}

.imageContainer {
    width: 100%;
    border-radius: 0.33rem;
    overflow: hidden;
    aspect-ratio: 680 / 360;
    position: relative;
}
.container > * { 
    min-width: 0; 
}

.imageContainer :global(img) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.bigElem .imageContainer {
    aspect-ratio: 680 / 360;
}

.newsName {
    font-weight: 700;
    font-size: var(--s16);
    margin: .66rem 0 .33rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bigElem .newsName {
    font-size: var(--s20);
    font-weight: 700;
    margin: .83rem 0 .5rem 0;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.newsAnonse {
    font-size: var(--s14);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 160%;
    letter-spacing: 0%;
}

.bigElem .newsAnonse {
    font-size: var(--s16);
    margin-bottom: .66rem;
    display: block;
    overflow: visible;
    -webkit-line-clamp: unset;
}

.readMore {
    display: none;
}

.bigElem .readMore {
    display: block;
    font-size: var(--s14);
    font-weight: 600;
    color: var(--light-blue);
}
.separatorMobile{
    display: none;
}


@media (orientation: portrait){
    .separatorMobile{
        display: block;
    }
    .container .separatorMobile::first-line {
        display: none;
    }
    .header {
        font-size: var(--s20);
        font-weight: 500;
    }
    .container {
        grid-template-columns: 1fr;
        row-gap: 0;
        column-gap: 0;
    }
    .imageContainer,
    .bigElem .imageContainer{
        aspect-ratio: 680 / 360;
    }
    .newsName,
    .bigElem .newsName{
        font-weight: 600;
        font-size: var(--s16);
        margin: .833rem 0 .5rem;
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
    } 
    .newsAnonse,
    .bigElem .newsAnonse{
        font-size: var(--s14);
        display: block;
        overflow: visible;
        -webkit-line-clamp: unset;
        margin-bottom: .66rem;
    }
    .readMore,
    .bigElem .readMore{
        display: block;
        font-size: var(--s14);
        font-weight: 600;
        color: var(--light-blue);
    }
}