.content p {
    font-size: var(--s16);
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;

    margin-bottom: 0.66rem;
}
.content h2 {
    font-size: var(--s28);
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.content h3 {
    font-size: var(--s20);
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.content h4 {
    font-size: var(--s18);
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.content li {
    font-size: var(--s16);
    margin-bottom: 0.2rem;
}
.content a {
    font-size: var(--s16);
    font-weight: 500;
    color:var(--light-blue);
    text-decoration: underline;
}
.content strong {
    font-weight: 700;
}

.content .album {
    display: grid;
    gap: 0.66rem;
    width: 100%;
    margin: 1rem 0;
}
.containerImg {
    width: 100%;
    aspect-ratio: 680 / 360;
    overflow: hidden;
    border-radius: .33rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImg.bigContainerImg {
    aspect-ratio: 680 / 360;
}
  
.containerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.albumLayout_1 {
    grid-template-columns: 1fr;
}


.albumLayout_2 {
    grid-template-columns: 1fr 1fr;
}


.albumLayout_3 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img1 img1"
        "img2 img3";
}
.albumLayout_3 div:nth-child(1) {
    grid-area: img1;
}
.albumLayout_3 div:nth-child(2) {
    grid-area: img2;
}
.albumLayout_3 div:nth-child(3) {
    grid-area: img3;
}


.albumLayout_4 {
    grid-template-columns: 1fr 1fr;
}


.albumLayout_5 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img1 img1"
        "img2 img3"
        "img4 img5";
}
.albumLayout_5 div:nth-child(1) {
    grid-area: img1;
}
.albumLayout_5 div:nth-child(2) {
    grid-area: img2;
}
.albumLayout_5 div:nth-child(3) {
    grid-area: img3;
}
.albumLayout_5 div:nth-child(4) {
    grid-area: img4;
}
.albumLayout_5 div:nth-child(5) {
    grid-area: img5;
}


.album img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}


@media (orientation: portrait){
    .content p {
        font-size: var(--s14);
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;
    
        margin-bottom: 0.66rem;
    }
    .content h2 {
        font-size: var(--s18);
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    .content h3 {
        font-size: var(--s16);
        font-weight: 600;
        margin-bottom: 1.2rem;
    }
    .content h4 {
        font-size: var(--s18);
        font-weight: 600;
        margin-bottom: 0.8rem;
    }
    .content li {
        font-size: var(--s14);
        margin-bottom: 0.2rem;
    }
    .content a {
        font-size: var(--s14);
        font-weight: 500;
        color:var(--light-blue);
        text-decoration: underline;
    }
    .content strong {
        font-weight: 600;
    }

    .content .album {
        display: grid;
        gap: 0.5rem;
        width: 100%;
    }
    .containerImg {
        width: 100%;
        max-height: 9rem;
        overflow: hidden;
        border-radius: .25rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}