.container {
    border-radius: 1rem;
    padding: 1.33rem .66rem;

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 1.66rem;

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05),0px 4px 8px 0px rgba(0, 0, 0, 0.02);

    height: 16.66rem;
}

.nav {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
}
.elem {
    font-size: var(--s16);
    text-align: left;
    
    width: 10.83rem;

    padding: 1rem;
    border-radius: .33rem;
    padding: .33rem .66rem;
}
.active {
    background-color: var(--white);
    border-right: none;
}

.separator {
    border: .8px solid rgb(248, 248, 248);
    width: 100%;
    margin-bottom: .1rem;
}

.textBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.text {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.description {
    font-size: var(--s16);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.buttonMore {
    width: 100%;
    padding: .5rem 1.33rem;

    border: 1px solid rgb(204, 204, 204);
    border-radius: .33rem;

    font-size: var(--s14);
    text-align: center;
    flex-shrink: 0;
}


@media (orientation: portrait) {
  .container {
    flex-direction: column;
    width: calc(100vw - var(--mobile-padding) * 4);
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    height: auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    /* ключевые строки */
    width: 100%;
    max-width: 100%;
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    scrollbar-width: none;         /* Firefox */
  }
  .nav::-webkit-scrollbar {        /* WebKit */
    display: none;
  }
  .elem {
    white-space: nowrap; 
    padding: .5rem .66rem;
  }
  .separator {
    margin-bottom: .833rem;
  }
  .buttonMore {
    margin-top: .833rem;
  }
}