.heading {
    font-size: var(--s28);
    font-weight: 700;
}
.nameCompany {
    font-size: var(--s20);

    margin-bottom: 1.66rem;
    margin-top: 2.5rem;
}
.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.66rem;

    margin-bottom: 2.5rem;
}
.title {
    font-size: var(--s20);

    margin-bottom: .833rem; 
}
.desc {
    font-size: var(--s16);
}
.phonesCont {
    display: flex;
    flex-wrap: wrap;

    gap: .5rem;
}
.container a {
    transition: color .3s ease;
}
.container a:hover {
    color: var(--light-blue);
}
.separatorMobile {
    display: none;
}

@media (orientation: portrait){
    .heading {
        font-size: var(--s20);
        font-weight: 500;
    }
    .nameCompany {
        font-size: var(--s16);
        font-weight: 600;
    
        margin-bottom: 0;
        margin-top: 0;
    }
    .mainInfoContainer {
        padding: .66rem;
        border-radius: .33rem;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05),0px 4px 8px 0px rgba(0, 0, 0, 0.01);
    }
    .contactsContainer {
        gap: 0;
    
        margin-bottom: 0;
    }
    .title {
        font-size: var(--s16);
        font-weight: 600;
    
        margin-bottom: .833rem; 
    }
    .desc {
        font-size: var(--s14);
    }
    .separatorMobile {
        display: block;
    }

    .feedbackFormContainer {
        padding: .66rem;
        border-radius: .33rem;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05),0px 4px 8px 0px rgba(0, 0, 0, 0.01);
    }
}